<section class="containerTabla">
    <!-- Tabla de productos -->
    <div class="tablaProductos">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of allProducts">
            <td>{{ producto.nombre }}</td>
            <td><img src="{{ producto.imagen }}" alt="Producto" style="max-width: 100px;"></td>
            <td>{{ producto.precio }}</td>
            <td>
              <button class="btn btn-danger" (click)="eliminarProducto(producto._id)">Eliminar</button>
              <button class="btn btn-info" (click)="guardarProductoActualizar(producto)">Actualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="containerBtns">
      <button class="btn btn-primary" (click)="isAdding = true; isUpdating = false">Agregar Producto</button>
    </div>
  </section>
  
  <div *ngIf="isAdding || isUpdating">
    <form #productoForm="ngForm" (ngSubmit)="isAdding ? agregarProducto() : actualizarProducto()">
      <h3>{{ isAdding ? 'Agregar Nuevo Producto' : 'Actualizar Producto' }}</h3>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen (URL)</label>
        <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precio" required>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">{{ isAdding ? 'Agregar Producto' : 'Actualizar Producto' }}</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarActualizacion()">Cancelar</button>
      </div>
    </form>
  </div>
  