<body>
  <main>
    <h1 class="tituloProductos">Productos</h1>
    <div class="productos">

      <!-- ciclo para mostrar productos de allProducts -->
      @for(producto of allProducts;track $index){
      <div class="card" style="width: 18rem;">
        <img src="{{producto.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">${{producto.precio}}</p>
          <a href="#" class="btn btn-dark">Añadir al carrito</a>
        </div>
      </div>
      }

    </div>
  </main>
</body>