<body>
  <main>
    <h1 class="tituloProductos">Productos</h1>
    <div class="productos">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/productos/espejosRizoma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Espejos Rizoma (Deportivos)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-dark">$ 90.000</a>
        </div>
      </div>
      <!-- <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/impermeable.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Impermeable</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">$75.000</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/manubrioBases.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Manubrio + Bases (Protaper)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">$250.000</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/soportecel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Soporte impermeable</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">$25.000</a>
                </div>
              </div>   -->
    </div>
  </main>
</body>