<body>
    <main>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/inicio/banner.jpg" class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/inicio/banner2.jpg" class="d-block w-100" alt="banner2">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/inicio/banner3.jpg" class="d-block w-100" alt="banner3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <h2 class="tituloP">Productos</h2>
        <div class="productos">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/espejosRizoma.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Espejos Rizoma</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/impermeable.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Impermeable</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/manubrioBases.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Manubrio + Bases</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/productos/soportecel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Soporte de Celular impermeable</p>
                </div>
            </div>
        </div>
    </main>

</body>